body{
    padding: 0;
    margin: 0;
    font-family: kumlien-pro,serif;
    font-weight: 700;
    font-style: normal;
    color: #222;
    background-color:#E1E1E1;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    row-gap: 0;
    grid-auto-rows: 5vh;
}
nav{
    grid-column: 5/9;
    grid-row: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav a{
    display: inline-block;
    font-size: 1.1em;
    padding: 1em .5em;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.active {
    color: rgb(77, 114, 182);
}

/*about*/
.title{
    font-family: bc-alphapipe, sans-serif;
    font-weight: 300;
    font-style: normal;
    grid-column: 6/8;
    grid-row: 15;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    letter-spacing: .25rem;
}
#titleImg{
    grid-column: 5/9;
    grid-row: 6/14;
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
#aboutTxt{
    font-family: Quicksand, sans-serif;
    font-weight: 300 ;
    padding: 0 2em;
    grid-column: 1/7;
    grid-row: 17;
}
.vertical-line{
    grid-column: 5/9;
    grid-row: 19/23;
    margin: auto;
    width: 1px;
    background-color: #222;
    height: 100%;
    z-index: 10;
}
.horizontal-line{
    grid-column: 3/11;
    grid-row: 9;
    margin: auto;
    height: 1px;
    background-color: cornflowerblue;
    width: 100%;
    transform: rotate(20deg);
}
#aboutBg{
    width: 100%;
    height: 100%;
    background-color:#eee;
    grid-column: 1/13;
    grid-row: 21/41;
    z-index: -1000;
}
#coffeeVid{
    width: 100%;
    height: 100%;
    grid-column: 5/9;
    grid-row: 27/34;
}
.video-filter{
    background-color: #222;
    opacity: .5;
    margin: auto;
    width: 35vh;
    height: 100%;
    grid-column: 5/9;
    grid-row: 27/34;
    z-index: 200;
}
#nav2{
    grid-row: 35;
}
/* footer */
footer{
    font-size: .875em;
    display: block;
    width: 100%;
    grid-column: 1/12;
    grid-row: 41;
    padding: 0 0 5vh 2vw;
}
.contact footer{
    grid-row: 22;
}
footer .title{
 width: 10%;  
 text-align: left; 
 margin-bottom: 0;
}
footer > div{
    width: 15vw;
    min-width: 180px;
    float: left;
    margin-bottom: 1vh;
}
footer div.col2{
    margin-top: 1.5em;
}

/* visit */
h2{
    font-size: 4em;
    grid-column: 2;
    grid-row:15;
    height: 100%;
    white-space: nowrap;
}
.visit .title{
    grid-row: 5;
}

#door-vid{
    width: 100%;
    height: 100%;
    grid-column: 5/9;
    grid-row: 7/14;
    object-fit: cover;
}
.visit .video-filter{
grid-column: 5/9;
grid-row: 7/14;
width: 100%;
height: 33.33vh;
}

.address{
    display: flex;
    grid-row: 7/14;
    grid-column: 10/12;
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    margin: 0;
    line-height: calc(100% + 2vh);
    align-items: center;
}

#hours {
    display: flex;
    grid-row: 7/14;
    grid-column: 2/4;
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    margin: 0;
    line-height: 150%;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#hours .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 1vh 0;
}
#hours p{
    display: inline-block;
    /* width: 100%;  */
    text-align: left;
    margin: 0;
    line-height: 100%;
}
.time{
    text-align: right;
    white-space: nowrap;
}
#map-arrow{
    
    grid-row: 20;
    grid-column: 12;
    opacity: .5;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
}
.map{
    position: relative;
    grid-row: 21/41;
    grid-column: 1/13;
    height: 100%;
    width: 100%;
    -webkit-filter: hue-rotate(200deg) brightness(.9);
    -moz-filter: hue-rotate(200deg) brightness(.9);
    -ms-filter: hue-rotate(200deg) brightness(.9);
    -o-filter: hue-rotate(200deg) brightness(.9);
    filter: hue-rotate(200deg) brightness(.9);
  }
/* contact */
.contact .title {
    grid-row: 5;
}

input, textarea{
    font-family: kumlien-pro,serif;
    font-size: 1em;
    margin: .5vh 0 .5vh 0;
    background: none;
    border: none;
    border-bottom: solid 1px black;
    /* padding: 2.5vh 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative;
    top: -100%; */
    grid-column: 4/10;
}
textarea, .message{
    padding-top: 1.5em;
    height: calc(100% - 2em);
}

label { 
    grid-column: 4;
    display: block;
    position: relative;
    padding-top: 1vh;
    height: 100%;
    color: rgba(0, 0, 0, 0.75);
    z-index: -100;
    width: 100%;
    text-align: left;
    left: 0;
    transition: all .5s;
}

#name, .name{
    grid-row: 7;
}
#email, .email{
    grid-row: 8;
}
#message, .message{
    grid-row: 9/14;
}

input:focus + label, textarea:focus + label, input:not([value=""]) + label, input:valid + label, textarea:valid + label {
    left: -110%;
    color: rgba(0, 0, 0, 0.25);
    text-align: right;
}

input:not([value=""]):invalid, textarea:not([value=""]):invalid {
    border: none;
    border-bottom: solid 2px crimson;
}
input:focus, textarea:focus{
    background-color: rgba(100, 148, 237, 0.1);
    border-bottom: solid 2px cornflowerblue;
}
input:valid + label:before, textarea:valid + label:before{
    content: "\2714";
    color: #222;
    position: absolute;
    left: calc( 50vw + 100% - 1em );
}

#submit{
    font-family: kumlien-pro,serif;
    font-size: 1em;
    line-height: 100%;
    border: solid 1px #222;
    text-align: center;
    background: transparent;
    grid-column: 9;
    grid-row: 14;
}
#submit:hover{
    border: solid 1px rgb(163, 190, 238);
    background:  rgb(163, 190, 238);
    
}
#submit:active {
    background: cornflowerblue;
    color: #e1e1e1;
}

#sender{
    display: none;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #E1E1E1;
    background-color: rgba(220, 20, 60, 0.75); /* crimson */ 
    grid-column: 8/11;
    grid-row: 15/17;
    text-align: center;
    padding: 5%;
    line-height: 150%;
    position: relative;
    top: 1em;
    overflow-y: visible;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}
#sender:before{
    content: "";
    position: absolute;
    border: solid;
    border-color: rgba(220, 20, 60, 0.75) transparent;
    border-width: 0 .75em .75em;
    top: -.75em;
    left: calc(50% - .375em);
}
#sender.sent {
    display: flex;
}